<div id="velocity-modal" class="velocity-modal" role="dialog" aria-modal="true" aria-hidden="true">
  <div class="velocity-modal-inner">
    <button class="close-modal" aria-label="Close">✕</button>
    <div id="velocity-modal-body">
      <p>This is a Velocity preview mockup of what your site could look like. Visit https://velocity.calyvent.com</p>
    </div>
  </div>
</div>
